<?- include('./header.ejs') ?>

<h1><a href="/">展示用户信息</a></h1>

<p><strong>用户Id：</strong><?= user.id ?></p>
<p><strong>用户姓名：</strong><?= user.name ?></p>
<p><strong>用户年龄：</strong><?= user.age ?></p>
<p><strong>用户性别：</strong><?= user.gender ?></p>
<p><strong>用户地址：</strong><?= user.address ?></p>

<?- include('./footer.ejs') ?>